
@{
    ViewBag.Title = "Title";
}

<form action="@Url.Action("Table", "Title")" method="post" enctype="multipart/form-data">
    <div class="container body">
        <p class="lead" id="title-Text">
            Welcome to a karaoke file manager. Select a file and directory to get started.
        </p>
        <div class="row" id="top-Row">      
                <div class="form-group">
                    <label for="textFileInput"> Select a master song list</label>
                    <input name="songList" type="file" id="textFileInput" required />
            <input class="btn btn-primary center" type="submit" value="Submit" id="submit-btn">
        </div>
        </div>
    </div>
</form>




















