
@{
    ViewBag.Title = "Title";
}

<div class="container body">
    <p class="lead">
        Welcome to a karaoke file manager. Select a file and directory to get started.
    </p>
    <div class="row" id="top-Row">
        <div class="col-sm-6">
            <form>
                <div class="form-group">
                    <label for="textFileInput"> Select a master song list</label>
                    <input type="file" class="form-control-file" id="textFileInput" />
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <form>
                <div class="form-group" id="folderBrowser">
                    <label for="textFileInput"> Select a folder</label>
                    <input type="file" class="form-control-file" id="folderFileInput" />
                </div>
            </form>
        </div>
    </div>
    <div class="row" id="button-Row">
        <input class="btn btn-primary" type="submit" value="Submit" id="submit-btn">
    </div>
    <div class="picture">
        <img src="~/Resources/Jim.jpg"/>
    </div>
</div>























