

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: bisque;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
    margin-left:15em;
    margin-right:15em;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-top: 1em;
}

.lead {
    padding: 1em;
    margin-right: auto;
    margin-left: 15em;
    text-align: center;
    margin-bottom: 2em;
}

#top-Row {
    margin-bottom: 2em;
    margin-left: 15em;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    margin-left: 32em;
    padding-bottom: 1em;
}



label{
    margin-left:33em;
}

#submit-btn{
    margin-left:36em;
}

.table{
    width:45%;
}
a{
    margin-left: -15px;
}
.centered{
    text-align:center;
}
caption{
    color:red;
    font-size: 120%;
}